/.idea/
/unit5/reversestring/target/
/unit5/reversestring/reversestring.iml
/unit5/unit5.iml
/unit5/application/application.iml
/unit5/application/target/
/unit4/out/
/unit4/library/library.iml
/unit4/application/application.iml
/unit4/library/target/
/unit4/application/target/
/unit4/unit4.iml
/unit6/unit6.iml
/unit6/library/target/
/unit6/application/application.iml
/unit6/application/target/
/unit6/application/log.error_IS_UNDEFINED
/unit6/application/log.info_IS_UNDEFINED
/unit6/application/log.warn_IS_UNDEFINED
/log.error_IS_UNDEFINED
/log.info_IS_UNDEFINED
/log.warn_IS_UNDEFINED
/unit6/library/library.iml
/unit6/log.error_IS_UNDEFINED
/unit6/log.info_IS_UNDEFINED
/unit6/log.warn_IS_UNDEFINED
/logs/
/unit7/target/
/unit7/unit7.iml
/unit8/target/
/unit8/unit8.iml
/module1/application/target/
/module1/application/application.iml
/module1/level3/target/
/module1/level3/level3.iml
/module1/module1.iml
/module1/level1/level1.iml
/module1/level1/target/
/module1/level2/target/
/module1/level2/level2.iml
/module1/chessStep/target/
/module1/chessStep/chessStep.iml
/unit5/application/application (1) (ua.practice.unit5.application).iml
/unit6/application/application (2) (ua.practice.unit6.application).iml
