# Default ignored files
/shelf/
/.idea/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
**/*.iml
**/*.class
.idea
**/fifth_project/
**/sixth_project/
**/fourth_project/
**/third_project/
**/first_project/
**/second_project/
