<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="INFO">

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%-5p] %c{1}:%L - %m%n"/>
            <LevelRangeFilter minLevel="DEBUG" maxLevel="FATAL" onMatch="ACCEPT" onMismatch="ACCEPT"/>
        </Console>
        <RollingFile name="RollingFile1" fileName="logs\user.log" filePattern="user-%i.log" append="false">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%-5p] %c{1}:%L - %m%n"/>
            <SizeBasedTriggeringPolicy size="1MB"/>
            <DefaultRolloverStrategy max="10"/>
            <LevelRangeFilter minLevel="DEBUG" maxLevel="FATAL" onMatch="ACCEPT" onMismatch="ACCEPT"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="Console" level="debug"/>
            <AppenderRef ref="RollingFile1" level="debug"/>
        </Root>
    </Loggers>
</Configuration>
